/* HTML ELEMENTS */
body {
  background-color: ghostwhite;
  font-family: "Merriweather";
}

p {
  color: Black;
  font-family: Montserrat-Bold;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.1rem ;
}

a {
  color: #035aa6;
  font-weight: bold;
}

a:hover {
  color: #27496d;
  font-style: normal;
}

h5 {
  font-weight: bold;
}

table {
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
}

td {
  padding: 15px;
  text-align: center;
}


/* NAVIGATION BAR  */
.top-container {
  background-color: #00a1ab;
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin-bottom: 20px;
}

.navbar {
  padding: 0.1rem 0.75rem 0.75rem 0.75rem;
}

.navbar-brand {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.nav-title {
  opacity: 0.85;
  font-size: 2rem;
}


/* TOP IMAGE */
.first-img {
  padding-top: 4.35%;
  position: relative;
}

.img-col {
  width: 100%;
}

.image-text {
  font-family: Arvo;
  font-weight: bold;
  z-index: 1;
  position: relative;
  color: Black;
}


/* FEATURE SECTION */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding-top: 7%;
  padding-bottom: 2%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.features-container {
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5rem;
}

.exp-btn {
  background-color: #fa613e;
  color: #fff;
}

.package-head {
  background-color: #f0f0f0;
}

#packages {
  padding: 100px;
}

.price-text {
  font-size: 1.75rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.package-header {
  font-size: 1.25rem;
}


/* FEATURES OF PACKAGES */
#features-p {
  margin: 7% 15%;
}

.feature1 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.icons {
  width: 130px;
  height: 130px;
}

.row1 {
  padding-bottom: 35px;
}

.row2 {
  padding-bottom: 45px;
}

.ticket {
  width: 400px;
  height: 400px;
}

.journey {
  padding-top: 70px;
}

.mail {
  color: black;
  font-size: 1.5rem;
}

.phone {
  padding-top: 20px;
  font-size: 1.5rem;
}


/* FOOTER */
#footer {
  background-color: #dddddd;
  padding: 3% 8%;
  line-height: 1.25;
  position: absolute;
  width: 100%;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  font-weight: 400;
}

.about-us {
  padding-right: 1%;
}

.contact-us {
  padding-left: 5%;
}

.extra {
  width: 100%;
}

.abc {
  height: 720px;
}

.developed-by {
  text-align: center;
  font-size: 0.9rem;
}

/* IMAGES SECTION PACKAGES */
.img1 {
  padding-top: 5.2%;
  width: 100%;
  height: 600px;
}


/* PLACES AND PHILIGRIMS SECTION */
.ex {
  font-family: 'Courgette', cursive;
}

.info {
  background-color: #f4f3f3;
}

.heading {
  padding-top: 40px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #706c61;
  font-weight: bold;
}

.paragraph {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding: 15px;
}

.cover {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 30px;
  color: black;
}

.details {
  padding-bottom: 30px;
}

.jyotirlinga {
  font-weight: 600;
}
